@font-face {
    font-family:'NintendoDS';
    src: url(NintendoDS.woff2), url(NintendoDS.woff), url('NintendoDS.ttf')}

html {
    background-image: url('bg.png');
    image-rendering: pixelated;
    /* Firefox 51 */
    image-rendering: -moz-crisp-edges;
}

body {
    font-family: 'NintendoDS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin: 0}

#statusbar, #clock {
    user-select: none
}

#statusbar {
    color: #fff;
    background-image:url('statusbar.png');
    height: 32px;
    text-align: left;
    padding-left: 5px
}

#clock {
    width: 99px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(clock.png);
    background-size: cover;
    margin: 5px
}
#dot {
    width: 99px;
    height: 99px;
    background-image: url(dot.png);
    position: absolute;
    z-index: 1
}
#clock .hand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#clock .hand i {
    position: absolute;
    background-color: var(--color);
    width: var(--width);
    height: var(--height);
}

#alarm {
    z-index: -1
}

footer {
    margin: 0 8px;
    font-size: medium}

@supports (position: fixed) {
    footer {
        position: fixed;
        bottom: 5px}}